<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itwillbs.test.mapper.HelpMapper">

	<select id="getHelplist" parameterType="com.itwillbs.test.vo.HelpVO">
		SELECT *
			FROM help
				WHERE h_index = #{h_index}
	</select>
	
	<insert id="insertQNA">
		INSERT INTO QNA VALUES(
			NULL
			, #{q_subject}
			, #{q_context}
			, null
			, #{q_division}
			, #{q_category}
			<choose>
				<when test="q_file != ''">
				, #{q_file}
				</when>
				<otherwise>
				, null
				</otherwise>
			</choose>
			, #{m_idx}
		)
	</insert>
</mapper>