<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itwillbs.test.mapper.PayMapper">
 	
 	<!-- 결제정보 저장 -->
 	<insert id="insertPayInfo" parameterType="java.util.Map">
		  INSERT INTO
			  	payment VALUES (
			  		null
				    ,#{p_orderNum}
				    ,#{payment_num}
				    ,now()
				    ,#{payment_total_price}
				    ,1
				    ,(SELECT m_idx FROM members WHERE m_id = #{sId}) -- m_idx
				    ,#{r_idx}
			  	)
	</insert>
 	
 	<!-- 결제리스트 조회 -->
 	<select id="selectPayInfo" resultType="com.itwillbs.test.vo.PayVO">
	    select *
	   		from payment 
	   			 where m_idx = (select m_idx from members where m_id = #{sId})
	</select>
	
	<!-- 결제상태 변경 -->
	<update id="updatePayment" parameterType="string">
		update payment
			set
				p_status = 2 -- 결제취소
			where
				payment_num = #{payment_num}
	</update>
	
	<!-- 결제정보 조회 -->
	<select id="selectPayInfoByRidx" resultType="com.itwillbs.test.vo.PayVO">
		select *
			from payment
				where r_idx = #{r_idx}
	</select>
	
	<!-- 예약정보 저장 -->
	<insert id="insertReservationPayInfo" parameterType="java.util.Map">
	<selectKey resultType="int" keyProperty="r_idx" order="AFTER">
        SELECT LAST_INSERT_ID() AS r_idx
    </selectKey>
		 INSERT INTO
			  	payment VALUES (
			  		null
				    ,#{p_orderNum}
				    ,#{payment_num}
				    ,now()
				    ,#{payment_total_price}
				    ,1
				    ,(SELECT m_idx FROM members WHERE m_id = #{sId}) -- m_idx
				    ,1 -- 임시값
			  	)
	</insert>
 
</mapper>
