<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itwillbs.test.mapper.PayMapper">
 	
 	<!-- 결제정보 저장 -->
 	<insert id="insertPayInfo" parameterType="java.util.Map">
		  INSERT INTO
			  	payment VALUES (
			  		null
				    ,#{p_orderNum}
				    ,#{payment_num}
				    ,now()
				    ,#{payment_total_price}
				    ,1
				    ,(SELECT m_idx FROM members WHERE m_id = #{sId}) -- m_idx
				    ,#{r_idx}
			  	)
	</insert>
 	
 	<!-- 결제리스트 조회 -->
 	<select id="selectPayInfo" resultType="com.itwillbs.test.vo.PayVO">
	    select *
	   		from payment 
	   			 where m_idx = (select m_idx from members where m_id = #{sId})
	</select>
	
	<!-- 결제상태 변경 -->
	<update id="updatePayment" parameterType="string">
		update payment
			set
				p_status = 2 -- 결제취소
			where
				payment_num = #{payment_num}
	</update>
	
	<!-- 결제정보 조회 -->
	<select id="selectPayInfoByRidx" resultType="com.itwillbs.test.vo.PayVO">
		select *
			from payment
				where r_idx = #{r_idx}
	</select>
	
	<!-- 결제정보 저장 - 예약 -->
	<insert id="insertReservationPayInfo" parameterType="java.util.Map">
		 INSERT INTO
			  	payment VALUES (
			  		null
				    ,#{p_orderNum}
				    ,#{payment_num}
				    ,now()
				    ,#{payment_total_price}
				    ,1
				    ,(SELECT m_idx FROM members WHERE m_id = #{sId}) -- m_idx
				    ,(SELECT r_idx FROM reservation ORDER BY r_idx DESC LIMIT 1)
			  	)
	</insert>
	
	<!-- 판매금액 정산을 위한 결제정보 조회 -->
	<!-- 두 번째 구매자가 첫 번째 예약 내역을 양도 받은 경우, 첫 번째 예약 내역의 취소를 수행 -->
	<select id="selectInfoBySeller" resultType="com.itwillbs.test.vo.PayVO">
		-- 두 번째 구매자가 첫 번째 예약 내역을 양도 받은 경우, 첫 번째 예약 내역의 취소를 수행
		select *
			from payment
				where r_idx = #{r_idx}
					limit 1
	</select>

	<!-- 지난 일자 결제 금액 조회  -->
	<select id="adminPaymentCount">
		SELECT DATE(p_orderDate) AS date,
			   count(p_idx) AS count
			FROM payment
					WHERE DATE(p_orderDate) = curdate() - interval #{i} day
					GROUP BY date
					ORDER BY date DESC
	</select>
 
 		<!-- 총 결제 금액 조회 -->
 	<select id="getTotalPay" resultType="int">
		SELECT SUM(payment_total_price) AS total
			FROM payment
				where p_status = 1
	</select>	
</mapper>
