<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itwillbs.test.mapper.ReservationMapper">
	
	<!-- Reservation탭의 식당 이름 검색하기 -->
	<select id="selectRestaurantName" resultType="com.itwillbs.test.vo.RestaurantVO">
		select * from
			 restaurant where
			  	res_name like CONCAT('%',#{resName},'%')
	</select>
	
	<!-- 전체 식당 조회 -->
	<select id="selectRestaurantList" resultType="com.itwillbs.test.vo.RestaurantVO">
		select * from
			restaurant
	</select>
	
	<!-- 점주 식당 조회 -->
	<select id="selectOwnerRestaurantList" resultType="com.itwillbs.test.vo.RestaurantVO">
			select * 
			from restaurant
			where c_idx = (select c_idx
						from ceo
						where c_id = #{sId})
	</select>
	<!-- 점주 식당 조회 -->
	
	<!-- 양도 거래 완료 시 예약테이블의 판매자 예약 내역을 구매자로 업데이트 처리 -->
	<update id="updateReservation" parameterType="map">
		  UPDATE reservation
			  SET m_idx = (SELECT m_idx FROM members WHERE m_id = #{sId}),
			      r_status = 4
					 WHERE r_idx = #{r_idx}
	</update>
	<!-- 양도 거래 완료 시 예약테이블의 판매자 예약 내역을 구매자로 업데이트 처리 -->
	
	<select id="selectReviewList" resultType="com.itwillbs.test.vo.ReviewVO">
		SELECT rv_idx, rv_scope, rv_comment, rv_img, res_idx, rv.m_idx, m.m_nick
		FROM reviews rv JOIN members m
		ON rv.m_idx = m.m_idx
		WHERE res_idx = #{res_idx};
	</select>	
</mapper>
