<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itwillbs.test.mapper.RestaurantMapper">

    <!-- Reservation 탭의 가게 정보 조회하기 -->
	<select id="selectRestaurantInfo" resultType="com.itwillbs.test.vo.RestaurantVO">
		select * from
			restaurant
				where res_idx = #{res_idx}		
	</select>
	
	<insert id="insertRestaurant">
		INSERT 
			INTO restaurant
			VALUES (
				null -- idx 자동증가
				, #{res_brn}
				, #{res_name}
				, #{res_tel}
				, #{res_address}
				, #{res_detailAddress}
				, CONCAT(#{res_open}, '-' , #{res_close}) -- res_openinghours 문자열 결합 
				, CONCAT(#{res_breakstart}, '-' , #{res_breakend}) -- res_breaktime 문자열 결합 
				, #{res_total_table}
				, #{res_dayoff}
				, #{res_amenity}
				, #{res_amenity_info}
				, #{res_photo1}
				, #{res_photo2}
				, #{res_photo3}
				, #{res_intro}
				
			)
	
	</insert>
	
	<select id="selectReservationList">
		SELECT r.r_idx, c.cr_type, r.r_amount, r.r_tables, r.r_personnel, m.m_name, r.r_status, r.r_date, r.r_request, res.res_name
			FROM reservation r JOIN restaurant res
			ON r.res_idx = res.res_idx
			JOIN members m
			ON r.m_idx = m.m_idx
			JOIN course c
			ON r.cr_idx = c.cr_idx
			WHERE res.c_idx = (SELECT c_idx
					FROM ceo
					WHERE c_id = #{id}
					);
	</select>
	
	<select id="selectRDList">
		SELECT *
			FROM reservation_detail_info
			WHERE r_idx IN(
				SELECT r_idx
				FROM reservation
				WHERE res_idx IN(SELECT res_idx
						FROM restaurant
						WHERE c_idx = (SELECT c_idx
							FROM ceo
							WHERE c_id = #{sId})
						)
			);
	</select>
	
	
	<select id="selectRestaurantList" resultType="com.itwillbs.test.vo.RestaurantVO">
		SELECT * 
			FROM restaurant
	</select>
	
	<select id="selectRestaurant" resultType="com.itwillbs.test.vo.RestaurantVO">
		SELECT * 
			FROM restaurant
				WHERE
					res_idx = #{res_idx}
	</select>
	
	<update id="updateRestaurant">
		UPDATE restaurant
			SET
				res_brn = #{res_brn}
				, res_name = #{res_name}
				, res_tel = #{res_tel}
				, res_postcode = #{res_postcode}
				, res_address = #{res_address}
				, res_detailAddress = #{res_detailAddress}
				, res_open = #{res_open}
				, res_close = #{res_close}
				, res_breakstart = #{res_breakstart}
				, res_breakend = #{res_breakend}
				, res_holiday = #{res_holiday}
				, res_amenity = #{res_amenity}
				, res_photo = #{res_photo}
				, res_intro = #{res_intro}
					WHERE
						res_brn = #{res_brn}
	</update>	


</mapper>
