<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.test.mapper.storedashMapper">
    <resultMap id="reservationCountResultMapWithCId" type="java.util.Map">
        <constructor>
            <idArg column="storeId" javaType="int"/>
            <arg column="reservationCount" javaType="int"/>
            <arg column="c_id" javaType="String"/>
        </constructor>
    </resultMap>

    <select id="getTodayReservationCounts" resultType="Integer">
	    SELECT COUNT(*) AS todayReservationCount
	    FROM payment
	    WHERE DATE(p_orderDate) = CURDATE()
    </select>

    <select id="getMonthlyReservationCounts" resultType="Integer">
        SELECT COUNT(*) AS weeklyReservationCount
		FROM payment
		WHERE DATE(p_orderDate) BETWEEN DATE_SUB(CURDATE(), INTERVAL 6 DAY) AND CURDATE()
    </select>
    
	<select id="getReservationCountsByWeek" resultType="Integer">
		    SELECT COUNT(*)
		    FROM payment
		    WHERE DATE(p_orderDate) BETWEEN DATE_SUB(CURDATE(), INTERVAL 6 DAY) AND CURDATE()
		    GROUP BY DATE(p_orderDate)
	</select>
    
    <select id="getWeeklySalesAmount" resultType="Integer">
        SELECT SUM(payment_total_price)
        FROM payment
        WHERE p_orderDate BETWEEN DATE_SUB(CURDATE(), INTERVAL 6 DAY) AND CURDATE()
        GROUP BY DAY(p_orderDate)
    </select>    
    
    <select id="getTodaySalesAmonut" resultType="Integer">
        SELECT SUM(payment_total_price)
        FROM payment
        WHERE DATE(p_orderDate) = CURDATE()
    </select>    
   
   <select id="getWeeklyallSalesAmount" resultType="Integer">
    	SELECT SUM(payment_total_price)
        FROM payment
        WHERE DATE(p_orderDate) BETWEEN DATE_SUB(CURDATE(), INTERVAL 6 DAY) AND CURDATE()
   </select>    
    
    
</mapper>
