<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.test.mapper.TimesMapper">

	<!-- 특정 식당의 시간 조회 -->
	<select id="selectTimesInfo" resultType="com.itwillbs.test.vo.TimesVO">
		SELECT t.t_time
    		FROM restaurant r
    		JOIN menus m ON r.res_idx = m.res_idx
    		JOIN times t ON m.me_idx = t.me_idx
    		WHERE r.res_idx = #{res_idx}
	</select>
	
	<!-- 시간 등록 -->
	<insert id="insertTime">
		<selectKey resultType="com.itwillbs.test.vo.MenuVO" order="BEFORE">
			SELECT me_name
				FROM menus m JOIN restaurant r
					ON m.res_idx = r.res_idx
						WHERE r.res_idx = #{res_idx}
		</selectKey>
		INSERT 
			INTO times
			VALUES (
				#{t_time}
				<choose>
					<when test="t_time gt '09:00:00' and t_time lt '17:00:00' and me_name eq 'LUNCH'">
						,#{me_idx}
					</when>
					<when test="t_time gt '17:00:00' and t_time lt '22:00:00' and me_name eq 'DINNER'">
						,#{me_idx}
					</when>
					<otherwise>
						,#{me_idx}
					</otherwise>
				</choose>
			)

	</insert>
	
</mapper>
